<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haoyuinfo.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.CompatApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--腾讯bugly key-->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="383273fcd9" />

        <!--高德地图 key-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="789e290a33dc859a5234312796e109dc" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.haoyuinfo.mediapicker.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.CaptureActivity" />
        <activity android:name=".activity.MenuActivity" />
        <activity
            android:name=".activity.SearchActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.haoyuinfo.mediapicker.MediaGridActivity" />
        <activity android:name="com.haoyuinfo.mediapicker.PreViewActivity" />
        <activity android:name="com.haoyuinfo.filepicker.FilePickerActivity" />
        <activity android:name=".activity.CourseLearnActivity" />
        <activity
            android:name="tv.danmaku.ijk.media.ui.VideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorLandscape" />

    </application>

</manifest>